@model IEnumerable<AffinityProject.ViewModels.CustomerViewModel>

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Orders</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orders)
            </td>
        </tr>
    }
</table>